<div>

    <div class="col-sm-3">
        <div>

        </div>
        <div class="title_med" ng-hide="editing">
        <h3 class="h3" ><a href="#/recipes/{{recipe.id}}" >{{recipe.name}}</a></h3>
        <img width="200"
         class="img-responsive"
         ng-src="{{ recipe.photo }}">
        </div>
            <P ng-hide="editing">
                {{recipe.directions}}
            </P>
            <p>
            <p></p>
            <div class="title_med" ng-show="editing">
                Recipe
            </div>
            <p>
                <input class="inputtext" type="text" ng-show="editing"  ng-model="recipe.name">
            </p>
            <div class="title_med" ng-show="editing">
                Directions
            </div>

                <textarea class="inputtext" ng-show="editing" ng-model="recipe.directions"></textarea>
            </p>
            <div class="title_med" ng-show="editing">
                Description
            </div>
            <P ng-hide="editing">
                {{recipe.description}}
            </P>
            <p>
                <textarea class="inputtext" ng-show="editing" ng-model="recipe.description"></textarea>
            </p>
            <button ng-show="editing"  ng-click="saveEditedRecipe()"> Save </button>
            <button ng-show="editing" ng-click="cancelEdit()"> Cancel</button>
            <button ng-hide="editing" ng-click="editing = !editing"> Edit </button>
            <button ng-click="deleteRecipe()"> Delete </button>
    </div>
    <div class="col-sm-3">
        <div>
            <div class="title_med">Ingredients</div>
                <p>
                <p>
                    <form ng-show="editing" ng-submit="addIngredientToRecipe(ingredientName)">
                        <input class="inputtext" placeholder="Add Ingredient" ng-model="ingredientName">
                    </form>
                </p>
                    <ul class="editable">
                        <li  ng-repeat="ingredient in recipe.ingredients">
                            {{ ingredient.name }}
                            <del ng-show="editing" ng-click="removeIngredient($index)">✖</del>
                        </li>
                    </ul>
                </p>
        </div>
    </div>
    <div class="col-sm-3" id="filter">
        <div class="title_med"><p>Ingredient List</p></div>
        <ul class="editable">
            <li class="hvr-float" ng-click="addIngredientToRecipe(ingredient.name)" ng-repeat="ingredient in ingredients "> {{ ingredient.name }}
            </li>
        </ul>
    </div>





</div>

